
<div style="padding: 20px; width: 200px;">
  <PowerSelect
    @options={{this.names}}
    @selected={{this.name}}
    @placeholder="Please, select one name"
    @class="names-select"
    @onChange={{this.selectName}} as |name|>
    {{name}}
  </PowerSelect>
  <hr>
   <PowerSelect
    @options={{this.states}}
    @selected={{this.state}}
    @searchField="name"
    @placeholder="Please, select one state"
    @onChange={{this.selectState}} as |state|>
    {{state.name}}
  </PowerSelect>
</div>


{{outlet}}